<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankApplication</display-name>
	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>p1.LoginFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>changePwdFilter</display-name>
		<filter-name>changePwdFilter</filter-name>
		<filter-class>p1.changePwdFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>TransferFilter</display-name>
		<filter-name>TransferFilter</filter-name>
		<filter-class>p1.TransferFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>forgotPwdResetFilter</display-name>
		<filter-name>forgotPwdResetFilter</filter-name>
		<filter-class>p1.forgotPwdResetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>Login</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>changePwdFilter</filter-name>
		<url-pattern>/changePwdFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>changePwdFilter</filter-name>
		<servlet-name>changePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<url-pattern>/TransferFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<servlet-name>Transfer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>forgotPwdResetFilter</filter-name>
		<url-pattern>/forgotPwdResetFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>p1.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>p1.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>changePassword</display-name>
		<servlet-name>changePassword</servlet-name>
		<servlet-class>p1.changePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>p1.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>p1.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>getStatement</display-name>
		<servlet-name>getStatement</servlet-name>
		<servlet-class>p1.getStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>p1.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GettingStatement</display-name>
		<servlet-name>GettingStatement</servlet-name>
		<servlet-class>p1.GettingStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatements</display-name>
		<servlet-name>GetStatements</servlet-name>
		<servlet-class>p1.GetStatements</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>p1.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMail</display-name>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>p1.SendMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMails</display-name>
		<servlet-name>SendMails</servlet-name>
		<servlet-class>p1.SendMails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPwdReset</display-name>
		<servlet-name>ForgotPwdReset</servlet-name>
		<servlet-class>p1.ForgotPwdReset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changePassword</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getStatement</servlet-name>
		<url-pattern>/getStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GettingStatement</servlet-name>
		<url-pattern>/GettingStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatements</servlet-name>
		<url-pattern>/GetStatements</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMails</servlet-name>
		<url-pattern>/SendMails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPwdReset</servlet-name>
		<url-pattern>/ForgotPwdReset</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
